<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="container">
        <header class="section-header">
            <h3>My Projects</h3>
            <p>
                Here are some of the projects I've worked on:
            </p>
        </header>
        <div class="row">
            <div class="col-lg-4 col-md-6 project-item">
                <div class="project-wrap">
                    <figure>
                        <img src="{% static 'img/project-1.jpg' %}" class="img-fluid" alt="">
                        <a href="{% static 'img/project-1.jpg' %}" data-lightbox="projects" data-title="Project Title 1" class="link-preview" title="Preview"><i class="fa fa-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                        <h4 class="project-title">Project Title 1 <span>Web Development</span></h4>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 project-item">
                <div class="project-wrap">
                    <figure>
                        <img src="{% static 'img/project-2.jpg' %}" class="img-fluid" alt="">
                        <a href="{% static 'img/project-2.jpg' %}" data-lightbox="projects" data-title="Project Title 2" class="link-preview" title="Preview"><i class="fa fa-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                        <h4 class="project-title">Project Title 2 <span>App Development</span></h4>
                    </figure>
                </div>
            </div>
</body>
</html>